<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf8' />
  <title>Bollywood Music</title>
  <meta name='viewport' content='width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
<div class='main'>
  <div id='navigation'>
    <nav class='tags'>
      <ul>
      <% tags.forEach(function(tag) { %><li><%= tag.type %></li><% }) %>
      </ul>
    </nav>
  </div>
  <header>
    <h1><a>BollyMoods</a></h1>
    <p class='info'>Friends, I have been an ardent fan of Bollywood music and choreography since years. Bollywood music has strong bases in Indian traditional folk music and dance forms with derived variations from western popular music, modern Indian popular music, Mughal court music, Elvis' musicals, Fred Astaire's duets with generous doses of inspiration from popular music and dance forms around the world. Bollywood songs, music and choreography are an integral part of story-telling in Indian popular cinema. Some of these videos have no choreography at all, just a conversational exchange in form of a song. In this video blog, I have made a compilation of my personal favorites (in random order) for you to enjoy. Each of the videos featured here have some specialty or uniqueness associated with it - the music, the way it is choreographed, charisma of the lead actors, or simply the amateurity and rawness of the picturization. In addition to classy music and videos, I have included some videos that have mass appeal, stuff that appeal to the front row seats. No matter how many times I see these videos, they bring cheer to me. Hope they have same kind of effect on you. Suggestions for posts and comments are welcome - bestofbollywoodmusic@gmail.com
    </p>
  </header>
</div>






